<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Register New Identity
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <ion-card color="light">
    <ion-card-subtitle class="ion-text-center">
      Place your face in front of the camera to start detection.
    </ion-card-subtitle>
    <ion-card-content *ngFor="let photo of photoService.photos; index as position">
      <center>
        <ion-img [src]="photo.webviewPath" style="width: 25%;"></ion-img>
      </center>
    </ion-card-content>
  </ion-card>

  <center>
    <ion-button style="margin-left: auto; margin-right: auto" (click)="photoButtonClick()">
      <ion-icon name="camera-outline" slot="start"></ion-icon>
      <ion-label>Capture Photo</ion-label>
    </ion-button>
  </center>
</ion-content>